{% extends 'base.html.twig' %}


{% block body %}
    <h1> USERS </h1>

    <table class="table">
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>email</th>
               
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.getNom() }}</td>
                <td>{{ user.getPrenom() }}</td>
                <td>{{ user.getEmail() }}</td>
            <td> <a href="{{ path('usercommandes', {'id': user.getIdUser()}) }}">voir commandes</a> </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
