{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <div class="form-control-feedback">{{ error.message }}</div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}